@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: poppins;
}
.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:20px;
}
.App span{
  font-size: 2rem;
}
.Progress{
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(80, 191, 74);
  width: 80%;
  height: 50px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.Progress span{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Progress div{
  height: 100%;
  background-color: rgb(72, 188, 72);
}